.Backspace,
.CapsLock,
.Shift {
  width: 100px;
}

.Alt,
.▲,
.◄,
.▼,
.►,
.Backspace,
.CapsLock,
.Ctrl,
.Del,
.Enter,
.Shift,
.Tab,
.Win {
  font-weight: 700;
  background-color: #ffffff;
}

.Space {
  width: 330px;
}

.Tab {
  width: 50px;
}

.Del {
  width: 44px;
}

.Enter {
  width: 86px;
}