.Backspace,
.CapsLock,
.Shift {
  width: 100px;
}

.Space {
  width: 330px;
}

.Tab {
  width: 50px;
}

.Del {
  width: 44px;
}

.Enter {
  width: 86px;
}

.highlight {
  position: relative;
  top: 3px;
  background-color: #ee82ee;
}