.Backspace,
.ShiftLeft,
.ShiftRight {
  width: 151px;
}

.CapsLock {
  width: 85px;
}

.Space {
  width: 500px;
}

.Tab {
  width: 50px;
}

.Del {
  width: 44px;
}

.Enter {
  width: 125px;
}

.highlight {
  position: relative;
  top: 3px;
  background-color: #ee82ee;
}